{{ 'section-footer.css' | asset_url | stylesheet_tag }}



<!-- Welcome section starts -->


  <footer class="footer">
   <section>
     <h4>{{ section.settings.FooterCompetitiveTitle }}</h4>
      {{ section.settings.FooterCompetitiveText }}
   </section>

    <section>
        <div>
            <h4>{{ section.settings.FooterMenuTitle }}</h4>
              {{ section.settings.FooterMenuText }}
         </div>
       
          <div>
            <h4>{{ section.settings.FooterHelpTitle }}</h4>
           {{ section.settings.FooterHelpText}}
         </div>
         <div>
              <h4>{{ section.settings.FooterServiceTitle }}</h4>
              {{ section.settings.FooterServiceText}}
          </div>
       
      
        
    </section>

    <section>
      <div>
           <h4>{{ section.settings.FooterPayTitle }}</h4>
           <svg width="42" height="29" viewBox="0 0 42 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.0362 12.1301C22.0362 13.244 21.271 13.8848 19.9218 13.8848H18.15V10.3766H19.9297C21.271 10.3766 22.0362 11.0104 22.0362 12.1301ZM25.4998 16.1824C25.4998 16.7196 26.0247 17.0691 26.849 17.0691C27.8989 17.0691 28.6864 16.4807 28.6864 15.6511V15.1525L26.9723 15.2492C26.0024 15.3074 25.4998 15.6255 25.4998 16.1824ZM42 3.10739V25.8926C41.9997 26.7166 41.6308 27.5068 40.9744 28.0895C40.318 28.6722 39.4279 28.9997 38.4997 29H3.50033C2.57209 28.9997 1.68197 28.6722 1.02561 28.0895C0.369243 27.5068 0.00034785 26.7166 0 25.8926V3.10739C0.00034785 2.28336 0.369243 1.49316 1.02561 0.910475C1.68197 0.327793 2.57209 0.000308802 3.50033 0H38.4997C39.4279 0.000308802 40.318 0.327793 40.9744 0.910475C41.6308 1.49316 41.9997 2.28336 42 3.10739ZM9.31977 10.7576C9.93269 10.8031 10.5443 10.4861 10.9315 10.0842C11.3108 9.66938 11.5588 9.11362 11.4932 8.5497C10.9538 8.56951 10.2831 8.86661 9.89594 9.2814C9.54551 9.63793 9.24759 10.2135 9.31977 10.7576ZM13.7388 15.5801C13.7244 15.5673 12.3096 15.0884 12.2951 13.6378C12.2807 12.4272 13.4107 11.8447 13.4619 11.8121C12.8201 10.9708 11.8279 10.88 11.4853 10.8601C10.5955 10.8147 9.83688 11.3064 9.41427 11.3064C8.98378 11.3064 8.34199 10.8788 7.64245 10.8928C7.18573 10.9035 6.74016 11.0203 6.35009 11.2315C5.96002 11.4426 5.63905 11.7408 5.41914 12.0963C4.46367 13.5597 5.17109 15.7211 6.09768 16.9118C6.54917 17.5002 7.09647 18.148 7.81176 18.1224C8.48899 18.0967 8.75935 17.7344 9.5757 17.7344C10.3999 17.7344 10.6335 18.1224 11.3475 18.1166C12.0917 18.1037 12.551 17.5282 13.0104 16.9386C13.5131 16.2652 13.7244 15.6185 13.7401 15.5789L13.7388 15.5801ZM23.6111 12.1243C23.6111 10.4023 22.2619 9.22431 20.3366 9.22431H16.6039V18.0536H18.15V15.0371H20.2867C22.2409 15.0371 23.6111 13.8464 23.6111 12.1243ZM30.1734 13.6576C30.1734 12.383 29.0211 11.5604 27.2571 11.5604C25.6166 11.5604 24.4065 12.3958 24.3619 13.5341H25.7544C25.8712 12.99 26.4395 12.6346 27.2125 12.6346C28.1601 12.6346 28.6851 13.0226 28.6851 13.7485V14.2344L26.7597 14.338C24.9656 14.4348 23.997 15.0896 23.997 16.2221C23.997 17.3674 24.9958 18.1247 26.4316 18.1247C27.4015 18.1247 28.2979 17.6913 28.7061 16.998H28.735V18.0595H30.1642V13.6576H30.1734ZM37.6256 11.6443H36.0585L34.2434 16.8617H34.2145L32.3994 11.6443H30.7732L33.3903 18.0723L33.2525 18.4603C33.0188 19.1209 32.633 19.3795 31.9479 19.3795C31.7967 19.3771 31.6457 19.3705 31.4951 19.3597V20.4212C31.583 20.4468 31.9689 20.4538 32.0857 20.4538C33.595 20.4538 34.3024 19.9423 34.9219 18.395L37.6256 11.6443Z" fill="#fff"/>
            </svg>

              <svg width="42" height="28" viewBox="0 0 42 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.5853 14.1372C13.5853 14.9 12.8778 15.4804 11.9814 15.4804C11.3108 15.4804 10.8147 15.1553 10.8147 14.5434C10.8147 13.7806 11.5076 13.1687 12.3975 13.1687C13.076 13.1687 13.5853 13.5253 13.5853 14.1372ZM5.87063 11.1066H5.52808C5.41914 11.1066 5.3089 11.1696 5.29446 11.2754L4.98078 12.9448L5.57926 12.9257C6.38118 12.9257 7.00066 12.8323 7.14634 12.0381C7.31433 11.2 6.69485 11.1066 5.87063 11.1066ZM26.5786 11.1066H26.2505C26.1192 11.1066 26.0313 11.1696 26.0169 11.2754L25.7111 12.9448L26.2938 12.9257C27.2414 12.9257 27.8976 12.7378 27.8976 11.8007C27.8898 11.1381 27.1994 11.1066 26.5786 11.1066ZM42 3.00024V24.9998C41.9997 25.7954 41.6308 26.5583 40.9744 27.1209C40.318 27.6835 39.4279 27.9997 38.4997 28H3.50033C2.57209 27.9997 1.68197 27.6835 1.02561 27.1209C0.369243 26.5583 0.00034785 25.7954 0 24.9998V3.00024C0.00034785 2.20462 0.369243 1.44167 1.02561 0.87908C1.68197 0.31649 2.57209 0.000298153 3.50033 0H38.4997C39.4279 0.000298153 40.318 0.31649 40.9744 0.87908C41.6308 1.44167 41.9997 2.20462 42 3.00024ZM9.35652 11.4621C9.35652 10.1493 8.17531 9.71169 6.8261 9.71169H3.90982C3.81561 9.71231 3.72494 9.74255 3.65502 9.79667C3.58511 9.8508 3.5408 9.92504 3.53051 10.0053L2.33486 16.386C2.31255 16.5109 2.4228 16.6358 2.56848 16.6358H3.95444C4.15131 16.6358 4.33374 16.4546 4.35605 16.2791L4.68417 14.6165C4.75766 14.1665 5.6462 14.3229 5.99662 14.3229C8.08212 14.3229 9.35783 13.2609 9.35783 11.461L9.35652 11.4621ZM15.4962 12.0122H14.1102C13.8333 12.0122 13.8189 12.3564 13.8044 12.5252C13.3818 11.9942 12.7689 11.8997 12.0759 11.8997C10.2897 11.8997 8.92603 13.2429 8.92603 14.7245C8.92603 15.9428 9.81588 16.737 11.2373 16.737C11.8935 16.737 12.7099 16.431 13.1692 15.9934C13.1268 16.1198 13.1021 16.2501 13.0957 16.3815C13.0957 16.5255 13.1692 16.6313 13.3293 16.6313H14.584C14.7809 16.6313 14.9489 16.4501 14.9857 16.2746L15.7298 12.2563C15.7521 12.1371 15.6419 12.0122 15.4962 12.0122ZM18.4492 18.1308L23.094 12.3429C23.1308 12.3115 23.1308 12.28 23.1308 12.2372C23.1308 12.1315 23.0218 12.019 22.8972 12.019H21.4968C21.4316 12.0212 21.368 12.0365 21.311 12.0636C21.254 12.0908 21.2052 12.1291 21.1687 12.1753L19.2367 14.6131L18.4348 12.2698C18.4047 12.1986 18.3503 12.1367 18.2787 12.0921C18.2071 12.0476 18.1216 12.0225 18.0332 12.0201H16.6695C16.5449 12.0201 16.4359 12.1326 16.4359 12.2383C16.4359 12.3137 17.8573 15.7887 17.982 16.1194C17.7851 16.3568 16.4871 17.9069 16.4871 18.0948C16.4871 18.2073 16.596 18.2951 16.7207 18.2951H18.1211C18.1866 18.2914 18.2503 18.2748 18.3071 18.2468C18.364 18.2187 18.4126 18.1798 18.4492 18.1331V18.1308ZM30.0645 11.4621C30.0645 10.1493 28.8833 9.71169 27.5341 9.71169H24.6388C24.5418 9.71102 24.4478 9.74035 24.3741 9.79428C24.3003 9.84821 24.2517 9.92313 24.2372 10.0053L23.056 16.3804C23.0415 16.5053 23.1505 16.6301 23.2896 16.6301H24.7845C24.9302 16.6301 25.0391 16.5368 25.0758 16.4299L25.404 14.6176C25.4775 14.1676 26.3673 14.324 26.7164 14.324C28.7875 14.324 30.0645 13.262 30.0645 11.4621ZM36.2029 12.0122H34.8169C34.54 12.0122 34.5255 12.3564 34.5032 12.5252C34.1016 11.9942 33.4821 11.8997 32.7747 11.8997C30.9885 11.8997 29.6248 13.2429 29.6248 14.7245C29.6248 15.9428 30.5147 16.737 31.9361 16.737C32.6146 16.737 33.431 16.431 33.868 15.9934C33.8457 16.0868 33.7945 16.287 33.7945 16.3815C33.7945 16.5255 33.868 16.6313 34.0281 16.6313H35.2894C35.4863 16.6313 35.6543 16.4501 35.691 16.2746L36.4352 12.2563C36.4575 12.1371 36.3486 12.0122 36.2029 12.0122ZM39.6664 9.93106C39.6664 9.80619 39.5575 9.71282 39.4328 9.71282H38.0836C37.9747 9.71282 37.8644 9.78819 37.85 9.88156L36.6688 16.3815L36.6478 16.413C36.6478 16.5255 36.7567 16.6313 36.9024 16.6313H38.1059C38.2884 16.6313 38.4708 16.4501 38.4852 16.2746L39.6664 9.95018V9.93106ZM33.1042 13.1687C32.2143 13.1687 31.5213 13.775 31.5213 14.5434C31.5213 15.1497 32.0319 15.4804 32.7025 15.4804C33.5779 15.4804 34.2854 14.9056 34.2854 14.1372C34.2932 13.5253 33.7827 13.1687 33.1042 13.1687Z" fill="#fff"/>
          </svg>

            <svg width="42" height="27" viewBox="0 0 42 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M39.2 27H2.8C2.05739 27 1.3452 26.7155 0.820101 26.2092C0.294999 25.7028 0 25.0161 0 24.3V2.7C0 1.98392 0.294999 1.29716 0.820101 0.790812C1.3452 0.284463 2.05739 0 2.8 0H39.2C39.9426 0 40.6548 0.284463 41.1799 0.790812C41.705 1.29716 42 1.98392 42 2.7V24.3C42 25.0161 41.705 25.7028 41.1799 26.2092C40.6548 26.7155 39.9426 27 39.2 27ZM20.8133 16.6073L20.3945 19.1385C21.4649 19.5729 22.6208 19.7768 23.7813 19.7359H23.7685C25.1285 19.8124 26.4753 19.4424 27.5893 18.6863L27.5695 18.6986C28.0243 18.3763 28.3942 17.9553 28.6491 17.4696C28.9041 16.984 29.037 16.4473 29.0372 15.903V15.8861C29.0372 14.6486 28.1785 13.6215 26.4857 12.8273C26.0237 12.6123 25.5819 12.3594 25.165 12.0712L25.1918 12.0893C25.0754 12.0165 24.9784 11.9183 24.9089 11.8025C24.8394 11.6868 24.7992 11.5568 24.7917 11.4233V11.421C24.8004 11.2817 24.8455 11.1467 24.9228 11.0287C25.0001 10.9107 25.1071 10.8135 25.2338 10.746L25.2385 10.7438C25.6301 10.5259 26.0801 10.4253 26.5312 10.4546H26.5242H26.6175L26.7073 10.4535C27.4587 10.4535 28.1715 10.6099 28.8143 10.89L28.7817 10.8776L29.0547 11.0182L29.4735 8.57588C28.6265 8.25915 27.7255 8.09813 26.817 8.10113H26.7598H26.7633C25.4488 8.04563 24.1527 8.41461 23.0802 9.14963L23.0988 9.13725C22.6531 9.44065 22.2893 9.84279 22.0382 10.3099C21.7871 10.777 21.6559 11.2954 21.6557 11.8215V11.8271C21.644 13.0174 22.533 14.0456 24.2993 14.8871C24.766 15.084 25.1685 15.3247 25.529 15.6139L25.5208 15.6071C25.6249 15.6915 25.7095 15.796 25.7692 15.9138C25.8288 16.0316 25.8623 16.1601 25.8673 16.2911V16.2956C25.8673 16.6545 25.6457 16.9628 25.326 17.1011L25.3202 17.1034C24.9702 17.2811 24.5548 17.3846 24.1138 17.3846H24.0602H24.0625H23.975C22.9752 17.3846 22.0278 17.1709 21.1785 16.7884L21.2193 16.8053L20.8192 16.6117L20.8133 16.6073ZM32.6258 17.8909H36.4933C36.5556 18.1481 36.6773 18.7106 36.8585 19.5784H39.6667L37.2237 8.2935H34.8903C34.5568 8.26499 34.2225 8.341 33.9373 8.51023C33.6521 8.67946 33.4311 8.93289 33.3072 9.23287L33.3037 9.243L28.8237 19.5784H31.997L32.634 17.892L32.6258 17.8909ZM17.3728 8.2935L15.4758 19.5784H18.5022L20.398 8.2935H17.3728ZM5.74233 10.5964L8.204 19.5604H11.3937L16.1478 8.2935H12.9442L9.98783 15.993L9.6775 14.4281L8.62283 9.243C8.5663 8.94393 8.39149 8.67774 8.13529 8.50059C7.8791 8.32344 7.56155 8.24919 7.24967 8.2935L7.25667 8.29237H2.37183L2.33567 8.52075C6.097 9.44213 8.568 11.43 9.681 14.427C9.33898 13.5706 8.8116 12.7944 8.134 12.15L8.13283 12.1489C7.46715 11.4898 6.67088 10.9664 5.79133 10.6099L5.74467 10.593L5.74233 10.5964ZM36.0022 15.57H33.4822C33.6525 15.1365 34.0538 14.0865 34.6862 12.42L34.7398 12.2614L34.9265 11.8046C35.0035 11.6179 35.0548 11.4649 35.0898 11.3479L35.3092 12.3142L36.001 15.5655L36.0022 15.57Z" fill="#fff"/>
          </svg>


       </div>

    <div>
      <h4>{{ section.settings.FooterConnectTitle }}</h4>
      <svg class="facebook" width="23" height="23" viewBox="0 0 23 23" fill="#fff" xmlns="http://www.w3.org/2000/svg">
        <path d="M23 11.5288C23 5.16491 17.848 0 11.5 0C5.152 0 0 5.16491 0 11.5288C0 17.1088 3.956 21.7549 9.2 22.8271V14.9875H6.9V11.5288H9.2V8.64662C9.2 6.42155 11.0055 4.61153 13.225 4.61153H16.1V8.07017H13.8C13.1675 8.07017 12.65 8.58897 12.65 9.22306V11.5288H16.1V14.9875H12.65V23C18.4575 22.4236 23 17.5123 23 11.5288Z" fill="#fff"/>
        </svg>
     <svg class="instagram" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.6822 0.00141491C13.5214 -0.00180524 14.3605 0.00662871 15.1994 0.0267141L15.4225 0.0347638C15.6801 0.0439635 15.9342 0.0554631 16.2413 0.0692626C17.4648 0.126761 18.2997 0.319954 19.0322 0.603995C19.7911 0.896085 20.4305 1.29167 21.0699 1.93105C21.6545 2.50558 22.1069 3.20054 22.3958 3.96763C22.6798 4.70016 22.873 5.53618 22.9305 6.75973C22.9443 7.06562 22.9558 7.32092 22.965 7.57851L22.9719 7.8016C22.9923 8.64014 23.0011 9.47893 22.9983 10.3177L22.9995 11.1756V12.682C23.0023 13.5212 22.9935 14.3604 22.973 15.1993L22.9661 15.4224C22.9569 15.68 22.9454 15.9341 22.9316 16.2412C22.8741 17.4647 22.6786 18.2996 22.3958 19.0321C22.1079 19.8 21.6553 20.4956 21.0699 21.0698C20.4949 21.6544 19.7996 22.1068 19.0322 22.3958C18.2997 22.6798 17.4648 22.873 16.2413 22.9305C15.9342 22.9443 15.6801 22.9558 15.4225 22.965L15.1994 22.9719C14.3605 22.9923 13.5214 23.0011 12.6822 22.9983L11.8244 22.9995H10.3191C9.47993 23.0023 8.64077 22.9935 7.80186 22.973L7.57877 22.9661C7.30579 22.9562 7.03287 22.9447 6.76002 22.9316C5.53648 22.8741 4.70162 22.6786 3.96796 22.3958C3.20059 22.1075 2.50551 21.655 1.93141 21.0698C1.34615 20.4952 0.893275 19.7998 0.604383 19.0321C0.320347 18.2996 0.127157 17.4647 0.0696599 16.2412C0.0568529 15.9683 0.0453534 15.6954 0.0351617 15.4224L0.0294122 15.1993C0.00821136 14.3604 -0.00137251 13.5212 0.000663517 12.682V10.3177C-0.00254593 9.47893 0.00588787 8.64015 0.0259623 7.8016L0.0340119 7.57851C0.0432114 7.32092 0.0547108 7.06562 0.06851 6.75973C0.126007 5.53503 0.319197 4.7013 0.603232 3.96763C0.892296 3.20017 1.34605 2.50539 1.93256 1.9322C2.50626 1.34658 3.2009 0.893293 3.96796 0.603995C4.70162 0.319954 5.53533 0.126761 6.76002 0.0692626L7.57877 0.0347638L7.80186 0.0290142C8.64038 0.00782362 9.47915 -0.00176042 10.3179 0.000265029L12.6822 0.00141491ZM11.5001 5.75122C10.7382 5.74044 9.98187 5.88119 9.27491 6.16528C8.56795 6.44937 7.9245 6.87114 7.38196 7.40608C6.83941 7.94101 6.4086 8.57844 6.11454 9.28133C5.82048 9.98421 5.66906 10.7385 5.66906 11.5004C5.66906 12.2624 5.82048 13.0167 6.11454 13.7196C6.4086 14.4225 6.83941 15.0599 7.38196 15.5948C7.9245 16.1298 8.56795 16.5515 9.27491 16.8356C9.98187 17.1197 10.7382 17.2605 11.5001 17.2497C13.025 17.2497 14.4874 16.6439 15.5657 15.5656C16.644 14.4873 17.2498 13.0248 17.2498 11.4999C17.2498 9.97493 16.644 8.51245 15.5657 7.43415C14.4874 6.35585 13.025 5.75122 11.5001 5.75122ZM11.5001 8.05114C11.9583 8.0427 12.4137 8.12566 12.8395 8.29517C13.2654 8.46469 13.6531 8.71736 13.9802 9.03843C14.3073 9.35951 14.5672 9.74254 14.7446 10.1652C14.922 10.5878 15.0134 11.0415 15.0135 11.4999C15.0135 11.9582 14.9223 12.412 14.745 12.8347C14.5678 13.2573 14.308 13.6405 13.9811 13.9616C13.6541 14.2828 13.2664 14.5356 12.8406 14.7053C12.4148 14.8749 11.9595 14.958 11.5012 14.9498C10.5863 14.9498 9.7088 14.5863 9.06183 13.9393C8.41486 13.2923 8.0514 12.4148 8.0514 11.4999C8.0514 10.5849 8.41486 9.70742 9.06183 9.06044C9.7088 8.41346 10.5863 8.04999 11.5012 8.04999L11.5001 8.05114ZM17.5373 4.02628C17.1663 4.04113 16.8154 4.19895 16.5582 4.46668C16.301 4.73441 16.1573 5.0913 16.1573 5.46258C16.1573 5.83386 16.301 6.19074 16.5582 6.45848C16.8154 6.72621 17.1663 6.88403 17.5373 6.89888C17.9185 6.89888 18.2841 6.74744 18.5537 6.47786C18.8232 6.20829 18.9747 5.84266 18.9747 5.46143C18.9747 5.08019 18.8232 4.71457 18.5537 4.445C18.2841 4.17542 17.9185 4.02398 17.5373 4.02398V4.02628Z" fill="#fff"/>
</svg>

    </div>
    </section>
   
    
    <section>
      <h4>{{ section.settings.FooterCopyTitle}}</h4>
    </section>
    
    
    
  </footer>

 

<!-- Welcome section ends -->


{% schema %}
  {
    "name": "Footer",
    "settings": [
       {
    "id": "FooterCompetitiveTitle",
    "type": "text",
    "label": "Competitive title"
  },
 {
    "id": "FooterCompetitiveText",
    "type": "richtext",
    "label": "Competitive text"
  },{
    "id": "FooterMenuTitle",
    "type": "text",
    "label": "Menu title"
  },
       {
    "id": "FooterMenuText",
    "type": "richtext",
    "label": "Description"
  },
 {
    "id": "FooterServiceTitle",
    "type": "text",
    "label": "Service title"
  },
       {
    "id": "FooterServiceText",
    "type": "richtext",
    "label": "Description"
  },
 {
    "id": "FooterHelpTitle",
    "type": "text",
    "label": "Help title"
  },
       {
    "id": "FooterHelpText",
    "type": "richtext",
    "label": "Help Description"
  },
 {
    "id": "FooterPayTitle",
    "type": "text",
    "label": "Pay title"
  },
    
 {
    "id": "FooterConnectTitle",
    "type": "text",
    "label": "Connect With Us"
  },
         
 {
    "id": "FooterCopyTitle",
    "type": "text",
    "label": "Rights Reserved. "
  }
      
    ],"presets": [
{
"name": "Footer",
"category": "ADVANCED LAYOUT"
}
]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}