{{ 'section-infoheader.css' | asset_url | stylesheet_tag }}



<!-- Welcome section starts -->

  <section class="infoheader">
    <div class='page-width'>

         <div class='infoheader-list'>
       
            <li>
               {% render 'icon-location' %}
               {{ section.settings.address }}
            </li>

           <div class='infoheader-links'>
            <li> 
               {% render 'icon-phone' %}   
               {{ section.settings.phone }}
            </li>
            <li>
               {% render 'icon-email' %}   
               {{ section.settings.email }}
            </li>
            <li>
               {% render 'icon-calendar' %}   
               {{ section.settings.schedule }}
            </li>
           </div>
         </div>
       
    </div>
  </section>
 

<!-- Welcome section ends -->


{% schema %}
  {
    "name": "InfoHeader",
    "settings": [
       {
    "id": "address",
    "type": "text",
    "label": "Address"
  },
  {
    "id": "phone",
    "type": "text",
    "label": "Phone"
  },
  {
    "id": "email",
    "type": "text",
    "label": "Email"
  },
  {
    "id": "schedule",
    "type": "text",
    "label": "Schedule"
  }
    ],"presets": [
{
"name": "InfoHeader",
"category": "ADVANCED LAYOUT"
}
]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}