

<section class="statistics">

   <div >
      <h3 >{{ section.settings.item1Title}}</h3>
       {{ section.settings.item1Text}}
    </div>
    <div >
      <h3> {{ section.settings.item2Title}}</h3>
       {{ section.settings.item2Text}}
    </div>
    <div >
      <h3 c> {{ section.settings.item3Title}}</h3>
       {{ section.settings.item3Text}}
    </div>
  
</section>


{% stylesheet %}
  .statistics{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background: var(--secondary);
    padding-block:4rem;

    @media screen and (min-width: 1200px) {
      flex-direction:row;
      padding-block:calc(1.5rem * var(--scale));
      margin-top:calc(5rem * var(--scale));
      height: calc(17rem * var(--scale));
    }
    
    & > div{
     
      display:flex;
      padding:1rem;
      justify-content:center;
      

      @media screen and (min-width: 1200px) {
        padding:0px;
        flex-direction:column;
        font-size:calc(4rem * var(--scale));
        border-inline:solid calc(0.05rem * var(--scale)) #80A090;
        }
      
      & h3{
        font-size: 1.7rem;
         margin:0px ;
        @media screen and (min-width: 1200px) {
         font-size:calc(4rem * var(--scale));
        }
      }
      & p{
        font-size: 1.7rem;
         margin:0px ;
        @media screen and (min-width: 1200px) {
         font-size:calc(2.5rem * var(--scale));
        }
      }
    }
    & > div{
      align-items:center;
      height:85%;
      display:flex;
      width:90%;
      margin:auto;
      @media screen and (min-width: 1200px) {
        height:90%;
        width:33%;
        margin:0px;
      }
      
    }
    & > div:nth-child(1) {
      
      @media screen and (min-width: 1200px) { 
        align-items:end;
        
           padding-right:8%;
        h3{
          margin-right:calc(2rem * var(--scale));
        }
      }
    
    }

    & > div:nth-child(2){

      border-block:solid 0.2rem #80A090;
      
      @media screen and (min-width: 1200px) {
        width:34%;
        border-block:none;
        padding:0px;
      }
    }
    & > div:nth-child(3) {
 @media screen and (min-width: 1200px) {
      align-items:start;
   
        padding-left:8%;
      
   h3{
        
       margin-left:calc(7rem * var(--scale));
      }
    }}
  }
{% endstylesheet %}



{% schema %}
  {
    "name": "Statistics",
    "settings": [
       {
    "id": "item1Title",
    "type": "text",
    "label": "title"
  },
 {
    "id": "item1Text",
    "type": "richtext",
    "label": "Description"
  }, {
    "id": "item2Title",
    "type": "text",
    "label": "title"
  },
 {
    "id": "item2Text",
    "type": "richtext",
    "label": "Description"
  }, {
    "id": "item3Title",
    "type": "text",
    "label": "title"
  },
 {
    "id": "item3Text",
    "type": "richtext",
    "label": "Description"
  }
    ],"presets": [
{
"name": "Statistics",
"category": "ADVANCED LAYOUT"
}]
  }
  
{% endschema %}

